aws_account_id    = "<AWS_ACCOUNT_ID>"
aws_region        = "ap-northeast-2"
state_bucket_name = "<GLOBALLY_UNIQUE_STATE_BUCKET_NAME>"

terraform_operator_user_name = "<IAM_USER_NAME>"
terraform_plan_s3_bucket_arns = [
  "arn:aws:s3:::<PROJECT_BUCKET_NAME>",
]
